/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/* Ajout de la propriété de couleur de fond sur la balise html */
html {
	background-color: white;
}

body {
	max-width: 1440px; /* Modification de la valeur 1140px à 1440px */
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;	
}
header {
	display: flex;
	justify-content: space-between;
	padding: 50px 150px 0 150px; /* Ajout de padding latéral pour éviter que le contenu touche les bords de l'écran */
}

main {
	padding: 0 150px; /* Ajout de padding latéral pour éviter que le contenu touche les bords de l'écran */
}

section {
	margin: 140px 0 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	gap: 3px; /* Ajout de l'espacement entre les deux lignes du h1 */
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	text-transform: uppercase; /* Mise en majuscules */
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 40px;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

/* Modification de la taille de l'icone instagram */
nav img {
	width: 22px;
	height: 22px;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 100%; /* Ajustement de la largeur de l'image */
}

#introduction article {
	flex: 1;
	margin-left: 72px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* Ajout des styles pour les boutons de filtre */
.filter-buttons {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 50px 0;
	gap : 10px;
}

.filter-buttons button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1D6154;
	background-color: white;
	border: 1px solid #1D6154;
	padding: 10px 20px;
	border-radius: 50px;
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 600;
	font-size: 16px;
	width: fit-content;
}

.filter-buttons button.active,
.filter-buttons button:hover {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin-top: 2em; /* adaptation des marges */
}

footer nav li {
	padding: 24px 0px;
	font-size: 1em;
}

/* Page de connexion */
#login-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	margin: 150px 0 355px 0;
}

#login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;	
}

footer {
	background-color: white;
	padding: 0 100px; /* Ajout de padding latéral pour éviter que le contenu touche les bords de l'écran */
}

a {	
  text-decoration: none;
  color: inherit;
}

#selected_link {
  font-weight: bold;
}

#email {
  width: 379px;
  height: 40px;
  font-size: 16px;
  padding: 5px 10px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
}

#password {
  width: 379px;
  height: 40px;
  font-size: 16px;
  padding: 5px 10px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

button {
	width: 179px;
  	height: 36px;
  	font-family: 'Syne';
  	font-weight: 700;
  	color: white;
	background-color: #1D6154;
	border: none;
	border-radius: 60px;
}

#login-section p {
	text-decoration: underline;
}